* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%
}

@font-face {
    font-family: pop-light;
    src: url(./Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: pop-reg;
    src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: pop-bold;
    src: url(./Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: mad;
    src: url(./Madimi_One/MadimiOne-Regular.ttf) format("truetype");
}

#container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: #000;
}

#page1{
    width: 100%;
    height: 100%;

}

#navbar{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

#navbar a{
    text-decoration: none;
    /* color: #dadada; */
    color: rgb(247, 240, 240);
    
}

.p1-nav-side-part1{
    font-size: 1.7vw;
    font-family: pop-bold;
    background-image: linear-gradient(to right bottom, #a60d63, #b92462, #cb3760, #da4b5f, #e85e5e, #ee6c5b, #f27959, #f68758, #f49256, #f19d56, #eda757, #e9b15b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For webkit browsers */
}

.p1-nav-mid-part{
    text-transform: uppercase;
    font-family: pop-light;
    font-weight: 400;
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.p1-nav-side-part3{
    font-size: 0.9vw;
    font-family: pop-reg;
    font-weight: 600;    
}

#p1-c{
    width: 100%;
    height: calc(100% - 10%);
    background-color: #060000;
}

#circle-left{
    left: -12%;
    width: 25%;
    height: 60%;
    background-color: #552641;
    border-radius: 50pc;
    filter: blur(100px);
    box-shadow: 100px 100px 100px rgba(64,34,51,255, 0.2);
    top: 25%;
    position: absolute;
}

#circle-right{
    right: -12%;
    width: 25%;
    height: 60%;
    background-color: #644420;
    border-radius: 50pc;
    filter: blur(100px);
    box-shadow: 100px 100px 100px rgba(66,49,29,255 0.2);
    top: 12%;
    position: absolute;
}



#main-heading{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop-reg;
    font-size: 3.5vw;
    /* background-color: blue; */
    /* position: relative; */
    line-height: 150%;
    text-align: center;
  }
  
  #word1{
      background: rgb(245,243,242);
      background: linear-gradient(90deg, rgba(245,243,242,1) 1%, rgba(203,197,197,0.888631090487239) 17%, rgba(177,173,175,1) 32%, rgba(156,154,158,0.9444152661064426) 59%, rgba(141, 141, 146, 0.356), rgba(105, 105, 109, 0.356) , rgba(119, 119, 121, 0.356) , rgba(121, 121, 123, 0.356) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* For webkit browsers */
      text-align: center;
    }
  
  #word2{
      background: rgb(245,243,242);
      background: linear-gradient(90deg, rgba(121, 121, 123, 0.356) 5%, rgba(156,154,158,0.9444152661064426) 29%,  rgba(177,173,175,1) 39%,  rgba(245,243,242,1) 10% );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* For webkit browsers */
    }
  
  #word3{
      font-size: 80px;
      background: rgb(245,243,242);
     background-image: linear-gradient(to right bottom, #a60d63, #b92462, #cb3760, #da4b5f, #e85e5e, #ee6c5b, #f27959, #f68758, #f49256, #f19d56, #eda757, #e9b15b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* For webkit browsers */
      /* text-align: center; */
    }
    
    #p1img{
        object-fit: contain; 
        object-position: center;
        width: 100%;
    
    }
  
  #below-main-heading{
      width: 100%;
      height: calc(100% - 33%);
      /* background-color: #b92462; */
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  #below-main-heading-p1{
      width: 33%;
      height:100%;
     
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 6vw;
      align-items: center;
  }
  
  #d240{
      /* background-color: red; */
      width: 25%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 0.001vw solid #8d848452;
      background: transparent;
      background: #cdc6c63f;
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      color: #fff;
      font-family: pop-reg;
      gap: 0.5vw;
  
  }
  
  #d240 h2{
      font-family: pop-light;
      font-weight: 800;
      font-size: 1vw;
  
  }
  
  #d92{
      width: 30%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5vw;
      border: 0.001vw solid #8d848452;
      /* background: #dadada28; */
      background: rgba(245, 243, 242, 0.219);
       
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      color: #fff;
      font-family: pop-reg;
  
  
  
  }
  
  #d92 h2{
      font-family: pop-light;
      font-weight: 800;
      font-size: 1vw;
  
  }
  
  #below-main-heading-p2{
      width: 33%;
      height: 100%;
      /* background-color: #675059; */
      position: relative;
      display: flex;
      justify-content: center;
      align-items: top;
  
  }
  
  #below-main-heading-p3{
      width: 33%;
      height: 90%;
      /* background-color: #886a77; */
      position: relative;
      display: flex;
      justify-content: center;
      align-items: start;
      padding-top: 4%;
  }
  
  #below-main-h-p3{
      width: 35%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1.5vw;
  }
  
  #below-main-h-p3 p{
      font-family: pop-reg;
      font-weight: 200;
      font-size: 0.9vw;
      color: #dadada7c;
      text-align: left;
      line-height: 200%;
      align-items: center;
  }
  
  #below-main-h-p3 button{
      width: 71%;
      font-family: pop-reg;
      font-weight: 700;
      font-size: 1vw;
      color: #8a1414;
      padding: 0.6vw 0.9vw;
      text-align: left;   
      border-radius: 20pc;
      border: none;
  }
  

  /* ----------------------Page2------------------------ */

  #page2{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #000;
  }

  #p2-nav{
    width: 100%;
    height: 8%;
    /* background-color: red; */
    rotate: -3deg;
    border: 0.001vw solid #8d848452;
      /* background: #dadada28; */
      background: rgba(245, 243, 242, 0.219);
       
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.448);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-family: mad;
      font-weight: 600;
      font-size: 1.23vw;
      color: #fff;
      letter-spacing: 1px;
  }

  #page2 img{
    width: 3%;
    height: 60%;
  }

  #p2-head{
    width: 100%;
    height: 25%;
    /* position: absolute; */
    color: #ffffffbb;
    /* background-color: red; */
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop-bold;
    font-size: 3vw;
    font-weight: 800;
  }

  #p2-c2{
    width: 100%;
    height: 68%;
    /* height: calc(100% - 30%); */
    /* background-color: wheat; */
    
}

#p2-c2-f{
    width: 100%;
    height: 70%;
    /* background-color: #644420; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #p2-c2-f-l{
    width: 50%;
    height: 80%;
    /* background-color: red; */
    color: #fff;
    padding-left: 7vw;
  }

  #p2-c2-f-l h2{
    font-family: pop-reg;
    font-weight: 600;
    font-size: 3vw;
    color: #ffffffbb;
  }
  .han{
    font-family: pop-light;
    font-weight: 100;
    font-size: 1.3vw;
    color: #ffffffbb;
  }

  #p2-c2-f-l img{
      width: 2.5%;
      height: 5.5%;
      display: inline;
  }

.arr{
    display: inline;
    font-family: pop-light;
    font-weight: 800;
    font-size: 1.4vw;
  }

  #p2-c2-f-l button{
    font-size: 1.5vw;
    padding: 0.7vw 1.5vw;
    border-radius: 20pc;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
  }

  #p2-c2-f-r{
    width: 50%;
    height: 99%;
    /* background-color: rgb(110, 82, 82); */
    color: #fff;
    background-image: url(./p2-c2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

#star{
    width: 20%;
    height: 15%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    background-color: #59352c;
    filter: blur(100px);
    box-shadow: 100px 100px 100px rgba(86,54,41,255, 0.2);
    position: absolute;
    
}

#p2-bottom{
    margin-top: 3%;
    width: 100%;
    height: 20%;
    color: #fff;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.001vw solid #8d848452;
    background: rgba(245, 243, 242, 0.219);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.448);
}

#p2-bottom h1{
    font-family: pop-bold;
}
#p2-bottom p{
    font-family: pop-light;
    font-size: 0.8vw;
}

#p2-splash2{
    width: 25%;
    height: 15%;
    left: -10%;
    top: 80%;
    /* transform: translate(-50%, -40%); */
    background-color: #784335    ;
    filter: blur(100px);
    box-shadow: 100px 100px 100px rgba(86,54,41,255, 0.2);
    position: absolute;
}

#p2-splash3{
    width: 10%;
    height: 15%;
    right: 0%;
    top: 90%;
    /* transform: translate(-50%, -40%); */
    background-color: #59352c;
    filter: blur(70px);
    box-shadow: 100px 100px 100px rgba(86,54,41,255, 0.2);
    position: absolute;
}

/* ---------------------------page3---------------------- */

#page3{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
    align-items: center;
}

#p3-head{
    margin: 4vw;
    width: 100%;
    height: 10%;
    color: #fff;
    font-family: pop-bold;
    font-weight: 700;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#customer-reviews{
    width: 100%;
    height: 40%;
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 7vw;
}

#customer-review-flex{
    margin-top: 2%;
    width: 100%;
    height: 60%;
    /* background-color: rgb(87, 177, 34); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: auto;
}

#customer-review-flex::-webkit-scrollbar{
    display: none;
}

#review1{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.001vw solid #8d848452;
    background: transparent;
    background: #cdc6c63f;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #fff;
    padding: 2vw 1vw 1.2vw 1vw;
}

#review1 #stars{
    width: 100%;
    height: 10%;
    /* background-color: red; */

}

#stars img{
    width: 6%;
    height: 100%;
}
#review1 #cmmnt{
    width: 100%;
    /* height: 20%; */
    /* background-color: red; */
    font-family: pop-light;
    font-size: 0.7vw;

}
#review1 #name_designation{
    width: 100%;
    height: 20%;
    /* background-color: red; */
}
#name_designation h3{
    font-size: 1vw;
    /* background-color: red; */
}


#customer-review-btm{
    top: 53%;
    width: 70%;
    height: 0.2vw;
    background-color: #fff;
    /* position: relative; */
    margin: 0 15%;
}

#review-btm-in{
    width: 12.5%;
    height: 100%;
    background-color: #854534;
}



#spread-f{
    top: 32%;
    width: 88%;
    height: 10%;
    /* margin: 0 10%; */
    background: #fff;
    /* position: relative; */
    background-color: #854534;
    filter: blur(130px);
    box-shadow: 30px 30px 30px rgba(66,42,39,255, 0.2);
    position: absolute;
}

#spread{
    top: 1%;
    left: 5%;
    width: 100%;
    border-radius: 50pc;
}

#p3-c3{
    width: 100%;
    height: 50%;
    /* background-color: #ba3e3e; */
    
}

#p3-c3-head{
    margin-top: 13pc;
    width: 100%;
    height: 20%;
    /* background: skyblue; */
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    padding-left: 5%;
    
}

#p3-c3-head a{
    width: 100%;
    height: 90%;
    font-size: 1.7vw;
    font-family: pop-bold;
    background-image: linear-gradient(to right bottom, #a60d63, #b92462, #cb3760, #da4b5f, #e85e5e, #ee6c5b, #f27959, #f68758, #f49256, #f19d56, #eda757, #e9b15b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #854534;
    left: 20%;
    
    /* For webkit browsers */
}

#p3-c3-head a{
    text-decoration: none;
    color: #dadada;
    font-size: 3vw;
}

#p3-c3-f{
    width: 90%;
    height: 65%;
    margin: 0 5% ;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

#p3-c3-f1{
    width: 45%;
    height: 80%;
    /* background: #000; */
     
     font-family: pop-reg;
      font-weight: 200;
      font-size: 1.2vw;
      color: #dadada8c;
      /* text-align: left; */
      /* align-items: center; */
}

#p3-c3-f1 #imgs{
    width: 100%;
    height: 60%;
    margin-top: 2vw;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    gap: 1vw;

}

#p3-c3-f1 #imgs img{
    width: 5%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#p3-c3-f2{
    width: 25.3%;
    height: 80%;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#p3-c3-f2 h2{
    color: #fff;
    font-size: 1.2vw;
    font-family: pop-reg;

    
}
#p3-c3-f2 a{
    color: #dadada8c;
    text-decoration: none ;
    font-size: 0.8vw;
    font-family: pop-reg;

    
}

#p3-c3-f3{
    width: 23.3%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#p3-c3-f3 h2{
    color: #fff;
    font-size: 1.2vw;
    font-family: pop-reg;

    
}
#p3-c3-f3 p{
    color: #dadada8c;
    text-decoration: none ;
    font-size: 0.8vw;
    font-family: pop-reg;
    display: inline-block;

    
}
.call, .mail, .address{
    margin-top: 2vw;
    width: 100%;
    height: 100%;
    /* display: flex; */

}
#p3-c3-f3 img{
    /* top: 10%; */
    width: 5%;
    display: inline-block;
    height: 30%;
    color: #fff;
    text-decoration: none ;
    font-size: 0.8vw;
    font-family: pop-reg;
    margin-right: 0.5vw;

}

#p3-c4{
    width: 100%;
    height: 15%;
    /* background-color: #ff/f; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadada;
    font-size: 0.8vw;
    font-family: pop-reg;
    border-top: 1px solid #dadada65;
}